body{
   padding: 10px; 
   font-family: IBMplexmono, sans-serif;
}
h1 {
   font-size: 32px;
   padding: 10px;
}

h2 {
   font-size: 28px;
   padding: 10px;
   background-color: black;
   color: white;
}

h3 { 
   font-size: 24px;
   padding: 10px;
}

h4 {
   padding: 10px;
   font-size: 20px;
   font-style: oblique;
}

ol {
   padding: 10px;
}

li {
   padding: 5px;
}
img {
   padding: 10px;
}

p{
   padding: 10px;
   font-size: 12px;
   font-style: italic;
}

span {
   padding: 10px;
}